packer_compiled.lua
nvim/.config/nvim/colors/
nvim/.config/nvim/lua/colors.lua

flavours/.local/share/flavours/lastscheme

kitty/.config/kitty/flavours.conf

.zplug/
.zcompdump

awesome/.config/awesome/bling/
