local colors = {
    dark1   = '{{base00-hex}}',
    dark2   = '{{base01-hex}}',
    dark3   = '{{base02-hex}}',
    dark4   = '{{base03-hex}}',
    light4  = '{{base04-hex}}',
    light3  = '{{base05-hex}}',
    light2  = '{{base06-hex}}',
    light1  = '{{base07-hex}}',
    red     = '{{base08-hex}}',
    orange  = '{{base09-hex}}',
    yellow  = '{{base0A-hex}}',
    green   = '{{base0B-hex}}',
    cyan    = '{{base0C-hex}}',
    blue    = '{{base0D-hex}}',
    magenta = '{{base0E-hex}}',
    brown   = '{{base0F-hex}}',
}

return colors
